body {
  max-width: 375px;
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  margin-bottom: 100px;
}

._container {
  max-width: 328px;
  margin: 0 auto;
  box-sizing: content-box;
}

._ibg {
  position: relative;
}
._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

/* ---------------------------- */

.header__container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 82px;
  margin-bottom: 22px;
}
.logo__img img {
  height: 60px;
  width: 63px;
}
/* ---------------------------------- */

.video__container {
  position: relative;
  height: 290px;
}

.video__container-frame {
  margin: 0 auto;
  position: absolute;
}
.video__container-circle {
  position: absolute;
  top: 100px;
  left: -35px;
}
.video__container-dots {
  position: absolute;
  right: -12px;
  top: -12px;
}
.video__container-photo {
  position: absolute;
  right: 7px;
  top: 6px;
}
.video__container-whitecircle {
  position: absolute;
  right: 111px;
  top: 49px;
  cursor: pointer;
}
.overlay:target + .popup {
  top: 20%;
  visibility: visible;
  opacity: 1;
}

.video__container-play {
  position: relative;
  left: 171 px;
  top: 215 px;
  cursor: pointer;
}

//-----------------------------//

.text {
  margin: 60px 0;
}
.text__main-title {
  color: #ee3d48;
  font-size: 40px;
  line-height: 47px;

  font-weight: bold;
}
.text__main-string {
  font-weight: bold;
  font-size: 40px;
  line-height: 47px;
  color: #131313;
}

.text__paragraph {
  font-size: 16px;
  line-height: 130%;
  color: #131313;
  margin: 40px 0;
}
.text__paragraph a {
  color: #ee3d48;
  text-decoration: underline;
}

//-=--------------------------//

.advantages__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 80px;
}
.advantages__item {
  width: 120px;
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
}
.advantages__img {
  width: 48px;
  height: 48px;
}
.advantages__text {
  text-align: center;
}

//-----------------------//@at-root
.slider {
  margin-bottom: 20px;
}

.swiper {
  width: 300px;
  height: 273px;
}
.slider__title {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 42px;
  margin-bottom: 28px;

  /* Text / Primary */

  color: #131313;
}

.swiper-wrapper {
}
.swiper-slide {
}
.swiper-slide__img {
}
.swiper-pagination {
}
.swiper-button-prev {
}
.swiper-button-next {
}
.swiper-scrollbar {
}

.swiper-pagination-bullet swiper-pagination-bullet-active {
  width: 6px;
}

//----------------------------//

.optoions {
}
.options__title {
}
.options__title-text {
  color: #131313;
  font-family: Work Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
}
.optoions__postTitle-black {
  font-family: Work Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
}
.optoions__postTitle-grey {
  font-family: Work Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #6a6a6a;
}

//------------------------------//
.options-list {
  margin-bottom: 10px;
}
.options-list__tag {
  display: inline-flex;
  font-family: Work Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
  color: #ee3d48;
  background-color: #fafafa;
  border-bottom: 1px solid #ee3d48;
}
.options-list__items {
}
.options-list__item {
  height: 75px;
  background: #fafafa;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px;
}
.options-list__item-image {
}
.options-list__item-block {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: space-around;
  align-items: space-around;
  padding: 0 8px;
}
.options-list__item-title {
  font-family: Work Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #131313;
  margin-bottom: 13px;
}
.options-list__item-price {
  font-family: Work Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #ee3d48;
}
.options-list-checkbox {
  width: 15px;
  height: 15px;
  background: #ee3d48;
  border: 1px solid #ee3d48;
  box-sizing: border-box;
  border-radius: 2px;
}

//------------------------------//

// думаю надо делать через radio
.duration {
}
.duration__title {
  font-family: Work Sans;
  font-size: 14px;
  line-height: 18px;
  color: #939598;
  margin-bottom: 8px;
}
.duration__btns {
  font-size: 12px;
  line-height: 18px;
}
.duration__btn {
  display: inline-block;
  margin: 0 8px 8px 0;
  padding: 0 12px;
  background: #f1f2f2;
  border-radius: 6px;
  height: 26px;
  align-items: center;
}
.duration__btn:hover {
  background: #ee3d48;
  color: white;
}

//--------------------------------//

.total-price {
  height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.total-price__price {
  color: #131313;
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  display: flex;
  align-items: center;
  color: #131313;
}
.total-price__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 167px;
  height: 40px;
  background: #ee3d48;
  border-radius: 6px;
  font-family: Roboto;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-decoration: none;
  cursor: pointer;
  color: #ffffff;
}

//-----------------------------//

.show-more {
  height: 108px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#f5f4f4 5%, white);
}
.show-more__btn {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  height: 39px;
  background: #ffffff;
  border: 1px solid #ee3d48;
  box-sizing: border-box;
  border-radius: 6px;

  font-family: Roboto;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #ee3d48;
}
